body{
    background-image:url("travel.jpg");
    height:100vh;
     background-size:cover

}
.search{
    height:35px;
    width:25%;
    border:solid 2px lightslategray;
    border-radius:5px
}
.search:hover{
    background-color:purple;
}
.alink{
    font-size:20px
}